<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link href="_content/Blazor.Bootstrap/blazor.bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="SampleManagement.styles.css" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <HeadOutlet @rendermode="new InteractiveServerRenderMode(prerender: false)"/>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    <script src="_content/Blazor.Bootstrap/blazor.bootstrap.js"></script>
    <Routes @rendermode="new InteractiveServerRenderMode(prerender: false)" />
    <script src="_framework/blazor.web.js"></script>

    @* Safety in case users don't know refreshing unloads their files *@
    <script>
        window.preventConfigurationLoss = {
        setEditorHandler: function () {
            window.onbeforeunload = function () {
                return "An upload is currently in progress. If you leave, session data may be lost!";
            };
        },
        clearEditorHandler: function () {
            window.onbeforeunload = null;
        }
    };
    </script>

    @* Script to focus a target element by ID *@
    <script>
        window.focusElement = (elementId) => {
            const el = document.getElementById(elementId);
            if (el) {
                // A tiny timeout helps if Blazor is still finishing the render
                setTimeout(() => {
                    el.focus();
                    // If it's a datalist-linked input, trigger the dropdown
                    if (el.getAttribute('list')) {
                        // Dispatching an 'input' event forces the browser to re-evaluate and show the datalist.
                        const event = new Event('input', { bubbles: true });
                        el.dispatchEvent(event);

                        // For Chromium, sometimes a click helps
                        el.click();
                    }
                }, 20);
            }
        };
    </script>

    @* Script to scroll to the bottom of the DOM element with the input ID *@
    <script>
        window.scrollToBottom = (elementId) => {
            const element = document.getElementById(elementId);
            if (element) {
                element.scrollTop = element.scrollHeight;
            }
        };
    </script>
</body>

</html>
